.cardproducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: yellow;
    width: 400px;
}